*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page d'accueil */

.accueil{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    height: 100vh;
    width: 18%;
    color: #fff;
    display: block;
    background-color: rgb(38, 38, 138);
    border: 1px solid black;  
} 

.nav-bar ul{
    text-align: center;
}

.nav-bar ul li a{   
    text-decoration: none; 
    color: #fff;
}

.content{
    height: 80px;
    width: 80%;  
    float: right; 
    border: 1px solid black; 
}

.content-right{
    display: flex;
    justify-content: space-between;
}