@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: .35s ease;
}

body{
    font-family: 'Poppins', sans-serif;
}

hr{
    border: solid .5px rgb(0, 102, 255);
}

.accueil,
.register{
    display: flex;
}
.nav_bar{
    background: linear-gradient(to top, #0853c4, #087fc4);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
}

.nav_bar img{
    margin: 20px 0px 70px 0px;
}

.nav_bar ul{
    font-weight: lighter;
    margin-right: 10px;
}
.nav_bar ul li{
    list-style: none;
}

.nav_bar ul li a{
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    text-align: center;
    padding: .5em;
    margin: 10px 0;
    color: #fff;
    border-radius: 5px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar ul li a:hover{
    background-color: #087fc4;
}

.nav_bar .fas, .far{
    font-size: 28px;
}


.content-right{
    display: flex;
    width: calc(100vw - 140px);
    justify-content: space-between;
    padding: 10px 20px;
}

/* register  */
.register_form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.input_label_bloc{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.input_label_bloc input[type='text'], 
input[type='date'],
input[type='password'], 
select{
    width: 250px;
    height: 30px;
    outline: none;
    font-size: 16px;

    border: none;
    border-bottom: solid 1.5px #087fc4;
    background-color: #f0f0f0;
}

.input_label_bloc textarea{
    font-size: 16px;
}

.input_label_bloc input:focus{
    background-color: #8ed2fa;
}

.register_form button{
    padding: .5em 1em;
    margin: 5px;
    color: #fff;
    font-weight: 600;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border: none;
    cursor: pointer;
}

button[type="submit"]{
    background-color: #05a805;
}
button[type="submit"]:hover{
    background-color: #048804;
}

button[type="reset"]{
    background-color: #c90414;
}
button[type="reset"]:hover{
    background-color: #960511;
}

.register_rigth > div{
    margin: 10px 5px;
}

.register_rigth h2{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.register_table,
.rapport_table{
    border-collapse: collapse;
    width: calc(100vw - 120px);
    margin: 0 auto;

    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.table_title{
    margin: 20px 0px;
}

.register_table tr,
.rapport_table tr{
    font-size: 14px;
}
.register_table thead th,
.rapport_table thead th{
    background-color: #041C32;
    padding: 5px 0;
    color: #fff;
}
.register_table tbody td,
.rapport_table tbody td{
    padding: 5px 0;
    padding-left: 5px;
    text-align: center;
}
.register_table tbody tr,
.rapport_table tbody tr{
    border-bottom: 1px solid #ddd;
}
.register_table tbody tr:nth-of-type(even),
.rapport_table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.register_table tbody tr:last-of-type,
.rapport_table tbody tr:last-of-type{
    border-bottom: 2px solid #041C32;
}

/* .register_table td,
.rapport_table td{
    min-width: 20px;

} */

.register_table tbody tr:hover,
.rapport_table tbody tr:hover{
    color: #0853c4;
    font-weight: 500;
}

.register_table a{
    text-decoration: none;
    color: black;
}

.fas{
    font-size: 1.3rem;
    margin: 0 5px;
}
.fa-undo-alt{
    color: #0a853d;
}

.fa-trash{
    color: #c92828;
}