@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.login_page{
    background: linear-gradient(315deg, #0853c4, #087fc4);
    height: 100vh;
    display: flex;
    align-items: center;

}

.login_ulustration{
    width: 50%;
    background: no-repeat center/contain url('./images/sodeci.svg'), #fff;
}

.login_ulustration img{
    object-fit: contain;
}

.login_card{
    width: 60%;
    height: 70vh;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
}

.form-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
}

.form-block span{
    font-weight: 600;
}

.login_form input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    border: none;
}

.login_form sup{
    color: #ec6c02;
}

.login_form input[type="text"],
.login_form input[type="password"]{
    outline: none;
    border-bottom: 2px solid #0853c4;
    background-color: #f3f3f3;
    padding-left: 10px;
}

.login_form input[type="submit"]{
    background: linear-gradient(315deg, #0853c4, #087fc4);
    color: #fff;
    cursor: pointer;
}

.login_form input[type="submit"]:hover{
    background: linear-gradient(-315deg, #0853c4, #087fc4);

}

.login_form_group{
    margin: 10px 0;
}